* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body{
    background: linear-gradient(145deg, #1AE000 0%, #007022 40%, #000000 100%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr ;

}
.zug{
    grid-column: 5/8;
    text-align: center;
    padding: 50px;
    letter-spacing: 5px;
    color: #ffffff;
    grid-row:1;
}

.mein{
    grid-column: span 3;
    grid-row: 1/5;
    padding: 20px;
    margin:20px 20px 20px;
    border-radius: 15px;
    background: #37e13f80;

}
.body-mein{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;

}
.fot{

    grid-column: 2;
    padding: 30px;
}
.mein_span{
    position: relative;
    top: -50%;
    padding: 30px;
    grid-column: 2;
    font-size: 40px;
    color: #ffffff;
    letter-spacing: 5px;
}

.car{
    position: relative;
    top: -70%;
    grid-column: 1/4;
    background:#11E200;
    border-radius: 35px;
    border: none;
    width: 90%;
    height: 50%;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 15px;
    box-shadow: -10px -10px rgb(5 137 35);
    transition: 0.3s;
    margin: 30px;
}
.car:hover {
    box-shadow: 10px 10px rgb(5 137 35);
    transform: scale(0.9);
}
.log{
    margin: 30px;
    position: relative;
    top: -70%;
    grid-column: 1/4;
    background:#11E200;
    border-radius: 35px;
    border: none;
    width: 90%;
    height: 50%;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 15px;
    box-shadow: -10px -10px rgb(5 137 35);
    transition: 0.3s;
}
.log:hover {
    box-shadow: 10px 10px rgb(5 137 35);
    transform: scale(0.9);
}
.sup{
    margin: 30px;
    position: relative;
    top: -70%;
    grid-column: 1/4;
    background:#11E200;
    border-radius: 35px;
    border: none;
    width: 90%;
    height: 50%;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 15px;
    box-shadow: -10px -10px rgb(5 137 35);
    transition: 0.3s;
}
.sup:hover {
    box-shadow: 10px 10px rgb(5 137 35);
    transform: scale(0.9);
}
.cou{
    margin: 30px;
    position: relative;
    top: -70%;
    grid-column: 1/4;
    background:#11E200;
    border-radius: 35px;
    border: none;
    width: 90%;
    height: 50%;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 15px;
    box-shadow: -10px -10px rgb(5 137 35);
    transition: 0.3s;
}
.cou:hover {
    box-shadow: 10px 10px rgb(5 137 35);
    transform: scale(0.9);
}
.rev{
    position: relative;
    top: -70%;
    grid-column: 1/4;
    background:#11E200;
    border-radius: 35px;
    border: none;
    width: 90%;
    height: 50%;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 15px;
    box-shadow: -10px -10px rgb(5 137 35);
    transition: 0.3s;
    margin: 30px;
}
.rev:hover {
    box-shadow: 10px 10px rgb(5 137 35);
    transform: scale(0.9);
}
.ser{
    margin: 30px;
    position: relative;
    top: -70%;
    grid-column: 1/4;
    background:#11E200;
    border-radius: 35px;
    border: none;
    width: 90%;
    height: 50%;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 15px;
    box-shadow: -10px -10px rgb(5 137 35);
    transition: 0.3s;
}
.ser:hover {
    box-shadow: 10px 10px rgb(5 137 35);
    transform: scale(0.9);
}
.con{
    margin: 30px;
    position: relative;
    top: -70%;
    grid-column: 1/4;
    background:#11E200;
    border-radius: 35px;
    border: none;
    width: 90%;
    height: 50%;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 15px;
    box-shadow: -10px -10px rgb(5 137 35);
    transition: 0.3s;
}
.con:hover {
    box-shadow: 10px 10px rgb(5 137 35);
    transform: scale(0.9);
}

.table1{
    background: #14AB00;
    width: 100%;
    height:100%;
    grid-row: 1/3;
    grid-column: 5/8;
    border-radius: 35px;
    padding: 40px 25%;
    margin: 40px;

}
.log_tex{

    font-size: 40px;
    letter-spacing: 30px;
    color: #ffffff;
}
.nic{
    margin: 20px 0px 0px;
    border-radius: 15px;
    position: relative;
    right: 40%;
    height: 50px;
    border: none;
    width: 180%;
}
.pas{
    margin: 20px 0px 0px;
    border-radius: 15px;
    position: relative;
    right: 40%;
    height: 50px;
    border: none;
    width: 180%;
}
.pas_text{
    background: none;
    border-right-width: 0px;
    border-bottom-width: 2px;
    border-top-width: 0px;
    border-left-width: 0px;
    color: #000000;
    margin: 5px;
    position: relative;
    right: 43%;
}
.log_but{
    margin: 40px 0px 0px;
    border-radius: 15px;
    position: relative;
    background: #000000;
    color: #ffffff;
    right: 40%;
    height: 50px;
    border: none;
    width: 180%;
    font-size: 20px;
    letter-spacing: 10px;
    box-shadow: -10px -10px rgb(5 137 35);
    transition: 0.3s;
}
.log_but:hover {
    box-shadow: 0px 0px rgb(5 137 35);
    transform: scale(1.1);
}
.don_ac{
    position: relative;
    top: 2%;
    left: 10%;
    font-size: 20px;
    margin: 20px;
}
.don_ac1{
    position: relative;
    top: 2%;
    right: -10%;
    font-size: 18px;
    margin: 20px 0px 0px;
}
.sig{
    border-width: 0px 0px 5px 0px;
    border-radius: 35px;
    width: 120%;
    font-size: 20px;
    margin: 20px -20px 0px;
    transition: 0.3s;
}
.sig:hover {
    box-shadow: 10px 10px rgb(5 137 35);
    transform: scale(1.1);
}
.e1{
    font-size: 60px;
}
.e2{
    font-size: 40px;
}
.e3{
    font-size: 30px;
}
.e4{
    font-size: 10px;
}
.e5{
    font-size: 5px;
}
.e6{
    font-size: 2px;
}

.vid{
    opacite: 1;
    visibility: visible;
    pointer-events: all;
}
.no_vid{
    opacite: 0;
    visibility: hidden;
    pointer-events: none;
}